#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 0;
}

#header-brand {
    font-weight: 700;
    color: black;
    font-size: 1.8em;
}

#tabl-card {
    background-color: aqua;
    margin: 0 10px 10px 10px;
}
@media (min-width: 1200px) {
    div.navbar-nav {
        display: none;
    }
}
@media (min-width: 992px) {
    div.navbar-nav {
        display: none;
    }
}